.fourth {
  @include flexGen(row, nowrap, center, flex-start);
  background: url("../assets/static/bg-circle-red.png")
    lighten(colors(color3), 5%) no-repeat;
  background-position: -250% 110%;
  padding-top: 3rem;

  &__inner {
    @include gridGen(repeat(2, 1fr), auto, 1rem, 1rem);
    max-width: 1440px;
    width: 100%;
  }

  &__left {
    grid-column: 1 / 2;
  }

  &__right {
    @include flexGen(column, nowrap, center, center);
    grid-column: 2 / 3;
  }

  h2 {
    font-size: 4.5rem;
    color: colors(color4);
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.5rem;
    width: 60%;
    color: colors(color4);
    line-height: 1.5;
    margin-bottom: 3rem;
  }

  &__download {
    @include flexGen(row, nowrap, center, center);

    img:first-child {
      margin-right: 1rem;
    }
  }
}
